<nav class="navbar navbar-expand-lg py-0">
  <a routerLink class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <!-- Sidebar toggle button-->
    <span class="sr-only">Toggle navigation</span>
    <span class="pe-7s-angle-left-circle"></span>
  </a>
  <div class="collapse navbar-collapse navbar-custom-menu">
    <ul class="navbar-nav ml-auto">
      <!-- User -->
      <li class="nav-item dropdown dropdown-user">
        <a class="nav-link" routerLinkrole="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/img/avatar5.png" class="rounded-circle" width="50" height="50" alt="user"></a>

        <div class="dropdown-menu drop_down">
          <div class="menus">
            <a class="dropdown-item" routerLink><i class="fa fa-user"></i> User Profile</a>
            <a (click)="logout()" class="dropdown-item" routerLink><i class="fa fa-sign-out"></i> Signout</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
