<aside class="main-sidebar" style="min-height: 1548px;">
  <!-- sidebar -->
  <div class="sidebar">
    <!-- sidebar menu -->
    <ul class="sidebar-menu">
      <li class="treeview">
        <a routerLink="/app/dashboard">
          <i class="fa fa-tachometer"></i><span>Dashboard</span>
          <span class="pull-right-container"> </span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-lock"></i><span>Security</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left float-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/users/users-list">Users</a></li>
          <li><a routerLink="/groups">Groups</a></li>
          <li><a routerLink="/modules">Modules</a></li>
          <li><a routerLink="/sections">Sections</a></li>
          <li><a routerLink="/menus">Menus</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a routerLink="/app/user">
          <i class="fa fa-users"></i><span>Customers</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left float-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/customers">Customers List</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a routerLink="/app/user">
          <i class="fa fa-book"></i><span>Finance</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left float-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="add-customer.html">Users</a></li>
          <li><a href="clist.html">Groups</a></li>
          <li><a href="group.html">Permissions</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a routerLink="/app/user">
          <i class="fa fa-gear"></i><span>Settings</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left float-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="add-customer.html">Users</a></li>
          <li><a href="clist.html">Groups</a></li>
          <li><a href="group.html">Permissions</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a routerLink="/app/user">
          <i class="fa fa-briefcase"></i><span>Loans</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left float-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="add-customer.html">Users</a></li>
          <li><a href="clist.html">Groups</a></li>
          <li><a href="group.html">Permissions</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a routerLink="/app/user">
          <i class="fa fa-bitbucket"></i><span>Menu Items</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left float-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="add-customer.html">Users</a></li>
          <li><a href="clist.html">Groups</a></li>
          <li><a href="group.html">Permissions</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- /.sidebar -->
</aside>
