<section class="content-header">
  <div class="header-icon">
    <i class="fa fa-user-plus"></i>
  </div>
  <div class="header-title">
    <h1>Modules</h1>
    <small>Create a new module</small>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12 pinpin lobicard-parent-sortable ui-sortable">
      <div class="card lobicard lobicard-sortable" id="lobicard-custom-controls" data-sortable="true">
        <div class="card-header ui-sortable-handle">
          <div class="card-title custom_title" style="max-width: calc(100% - 156px);">
            <div class="btn-group d-flex" role="group">
              <div class="buttonexport">
                <a routerLink="/modules" class="btn btn-add btn-sm">
                  <i class="fa fa-arrow-left"></i> Back
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form role="form" [formGroup]="createModuleForm" #f="ngForm" (submit)="createModule(f)">
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="name" class="control-label">Module name</label>
                <input type="text" formControlName="name" id="name" class="form-control form-control-user"
                  aria-describedby="emailHelp" title="Please enter module name" required>
                <div *ngIf="(name.touched && name.invalid) || (f.submitted && name.invalid)"
                  class="help-block small text-danger">
                  <span>Module name is <strong>required</strong></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="description" class="control-label">Description</label>
                <input type="text" formControlName="description" id="description" class="form-control form-control-user"
                  aria-describedby="emailHelp" title="Please enter description" required>
                <div *ngIf="(description.touched && description.invalid) || (f.submitted && description.invalid)"
                  class="help-block small text-danger">
                  <span>Description is <strong>required</strong></span>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                  <label for="password" class="control-label">Select Status</label>
                  <select formControlName="active" id="active" class="form-control">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                  <div *ngIf="(active.touched && active.invalid) || (f.submitted && active.invalid)"
                    class="help-block small text-danger">
                    <span>Please select status and try again</span>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="password" class="control-label">Enter sequence</label>
                <input type="number" formControlName="sequence" id="sequence" class="form-control form-control-user"
                  aria-describedby="emailHelp" title="Please enter sequence" required>
                <div *ngIf="(sequence.touched && sequence.invalid) || (f.submitted && sequence.invalid)"
                  class="help-block small text-danger">
                  <span>Please enter module sequence</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group user-form-group">
                <div>
                  <button [disabled]="loading" type="submit" class="btn btn-add">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <i *ngIf="!loading" class="fa fa-check"></i> Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
