<section class="content-header">
  <div class="header-icon">
    <i class="fa fa-user-plus"></i>
  </div>
  <div class="header-title">
    <h1>Customers</h1>
    <small>List of all customers</small>
  </div>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12 pinpin lobicard-parent-sortable ui-sortable">
      <div class="card lobicard lobicard-sortable" id="lobicard-custom-controls" data-sortable="true">
        <div class="card-header ui-sortable-handle">
          <app-customer-search (submit)="searchFormSubmit($event)" [loading]="loading_info || loading_details">
          </app-customer-search>
        </div>
        
        <div class="card-body">
          <div class="row">
            <div class="col-9" id="accordionparent">
              <app-customer-info #customerinfo [accountofficers]="accountofficers" [customer_info]="customer_info" (customerInfoFormSubmitter)="getAllForms($event)">
              </app-customer-info>

              <app-customer-address [customer_address]="customer_address" (customerAddressFormSubmitter)="getAllForms($event)"></app-customer-address>

              <app-customer-email [customer_email]="customer_email" (customerEmailFormSubmitter)="getAllForms($event)"></app-customer-email>

              <app-customer-phone [customer_phone]="customer_phone" (customerPhoneFormSubmitter)="getAllForms($event)"></app-customer-phone>

              <app-customer-nextofkins [customer_nextofkins]="customer_nextofkins" (customerNextofkinsFormSubmitter)="getAllForms($event)"></app-customer-nextofkins>

              <app-customer-banks [customer_banks]="customer_banks" (customerBankFormSubmitter)="getAllForms($event)"></app-customer-banks>
            </div>
        
            <div class="col-3">
              <app-customer-publish [formtype]="formtype" (publishButtonClick)="onSubmit($event)">
              </app-customer-publish>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
